@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Lateef&display=swap');
body,html{
  margin: 0;
  padding: 0;
  background: rgb(174,69,4);
  background: linear-gradient(0deg, rgba(174,69,4,1) 0%, rgba(247,131,26,1) 50%, rgba(116,53,18,1) 100%);
}
*{
  color: #ecdad2;
}
.titles{
  font-family: 'Babylonica', cursive;
  font-size: 7rem;
  text-shadow: 0 0 10px black;
  text-transform: capitalize;
  margin-bottom: 0;
}
p,span{
  font-family: 'Lateef', cursive;
  font-size: 2rem;
  font-weight: 100;
}
.subtitle{
  text-align: center;
  width: 100%;
  font-size: 3rem;
  margin: 0;
}
.name-wrapper{
  text-align: center;
  margin: 5px;
}

.name-text{
  display: inline-block;
  position: relative;
  color: #ecdad2;
  cursor: pointer;
  text-transform: capitalize;
}
.name-text::after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ecdad2;
  transform-origin: bottom-right;
  transition: transform 0.25s ease-out;
}
.name-text:hover::after{
  transform: scaleX(1);
  transform-origin: bottom left;
}

.details-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 20px;
}

.anime-image{
  border-radius: 10px;
}
.anime-facts{
  margin: 5px;
}